name: memory_match_game
description: Flutter ile geliştirilmiş hafıza eşleştirme oyunu

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  shared_preferences: ^2.2.2
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  generate: true
  
  assets:
    - assets/images/
    - assets/images/words/  
    - assets/images/fruits/
    - assets/images/vegetables/
    - assets/images/animals/
    - assets/images/flags/
    - assets/icons/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: assets/icons/Me_Ma_512.jpg
  min_sdk_android: 21
